body {
    margin: 0;
    padding: 0 3em;
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

#header {
    flex: 1;
    width: 100%;
    border: 1px solid gold;
}

#mainSection {
    flex: 3;
    min-height: 90%;
    box-sizing: border-box;
}

#mainSection.chapterOne {
    background: no-repeat url(../assets/bg-example.jpeg);
}

.dialogues {
    bottom: 15px;
    margin: 0 auto;
    padding: .5em;
    z-index: 100;
    position: fixed;
    background-color: beige;
    color: black;
    border-radius: 5px;
    width: 80%;
    right: 0;
    left: 0;
}

.dialogues h4.mainCharacter {
    color: purple;
}

.dialogues h4.otherCharacter {
    color: blue;
}

.dialogues button.next {
    float: right;
    border: none;
}

.dialogues > i {
    text-align: center;
    margin: 0 auto;
}

.dialogues > p {
    font-weight: bold;
}

.dialogues > .conversation {
    margin-top: 15px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

/*<section id="playSet"></section>*/