<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> BraveWo </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css">
    </head>

    <!-- 
            <section id="dialogues">
                <div id="mainCharacter">
                    <h4> PP says: </h4>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.! </p>
                </div>
                <div id="otherCharacter">
                    <h4> 2 says: </h4>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elitipsum, dolor sit amet consectetur adipisicing elitipsum, dolor sit amet consectetur adipisicing elit.! </p>
                </div>
                <div>
                    <button id="op1">Opción 1</button>
                    <button id="op2">Opción 2</button>
                </div>
            </section>
-->
    <body>
        <div id="header">
            <h2> Chapter One </h2>
            <nav> Score </nav>
        </div>
        <div id="mainSection" class="chapterOne">
            <div id="Chapter-1" >
                <div id="Scene1C1" class="dialogues hidden">
                    <div class="textBox offset-1">
                        <p class="situation"><i>[ La puerta se abre de manera estruendosa, unos pasos van hacia tu cama  sabes lo que se avecina, lo vez venir, pero aun asi, mantienes tus ojos cerrados con fuerza, intentando fingir que nada sucede ] </i></p>
                    </div>
                    <button class="next">Siguiente</button>
                </div>
                <div id="Scene2C1" class="dialogues hidden">
                    <h4 class="otherCharacter">Mamá</h4>
                    <div class="textBox offset-1">
                        <p class="situation"><i>[ Las cobijas son jaladas de ti rapidamente , las cortinas abiertas y escuchas un par de ruidos de cosas moviendose ]</i></p>
                        <span class="conversacion">Cariño, ya es tarde, por que estas cortinas siempre estan tan cerradas?, vamos, levantate, no es hora para estar asi</span>
                    </div>
                    <button class="next">Siguiente</button>
                </div>
                <div id="Scene3C1" class=" dialogues">
                    <h4 class="mainCharacter">Marco</h4>
                    <div class="textBox offset-1">
                        <p class="situation"><i>[ Gruñe entre las cobijas, aun tienes sueño, pero no hay mas opción ] </i></p>
                        <span class="conversacion">Si mamá... ya escuche</span>
                        <p class="situation"><i>[ Te sacas las cobijas, y te sientas con sueño en la cama, aun bostezas ]</i></p>
                    </div>
                    <button class="next">Siguiente</button>
                </div>
                <div id="Scene4C1" class=" dialogues hidden">
                    <div class="characterImage">
                        <img src="http://cdn.designbump.com/wp-content/uploads/2011/03/business-woman-character-tutorial-010.jpg" alt="description" height=300 width="300" />
                    </div>
                    <h4 class="characterName">Mamá</h4>
                    <div class="textBox offset-1">
                        <p class="situation"><i>Camina a la puerta tranquilamente recogiendo algunas cosas del suelo</i></p>
                        <span class="conversacion">La comida esta servida, tu padre hizo tu almuerzo para la escuela</span>
                        <p class="situation"><i>La puerta se cierra dejandote mientras te estiras y comienzas a arreglarte, una vez terminado el desayuno, sales camino a la escuela</i></p>
                        <button>Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="../js/app.js"></script>  
    </body>
</html>

