<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> BraveWo </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css">
    
    </head>
    <body>
        <div id="header">
            <h2> Chapter One </h2>
            <nav> Score </nav>
        </div>
        <div id="mainSection" class="chapterOne">
            <section id="dialogues">
                <div id="mainCharacter">
                    <h4> PP says: </h4>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.! </p>
                </div>
                <div id="otherCharacter">
                    <h4> 2 says: </h4>
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elitipsum, dolor sit amet consectetur adipisicing elitipsum, dolor sit amet consectetur adipisicing elit.! </p>
                </div>
                <div>
                    <button id="op1">Opción 1</button>
                    <button id="op2">Opción 2</button>
                </div>
            </section>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="../js/app.js"></script>  
    </body>
</html>